<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>JspServlet</display-name>
	<!-- web.xml파일 : 웹 어플리케이션을 위한 설정 정보를 담고 있음(선택..) 내용 변경 후 tomcat 재기동을 하면 
		반영됨 -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<!-- 초기화 파라미터 -->

	<context-param>
		<description>로깅여부</description>
		<param-name>logEnabled</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<description>디버깅 레벨</description>
		<param-name>debugLevel</param-name>
		<param-value>5</param-value>
	</context-param>

	<!-- 
	404,500 : 음답 상태 코드
	location : 오류 화면을 출력할 jsp 페이지
	 -->

	<error-page>
		<error-code>404</error-code>
		<location>/chap06/error/error404.jsp</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/chap06/error/error500.jsp</location>
	</error-page>
	
	<error-page>
		<exception-type>java.lang.NullPointerException</exception-type>
		<location>/chap06/error/errorNullPointer.jsp</location>
	</error-page>
	
	<!-- 
	세션 유효 시간 설정 (분) => 세션 타임아웃 시간을 30분으로 설정
	0이나 음수로 지정하면 세련은 유효 시간 없다는 것임 . session.invalidate() 호출 전 까지
	세션 객체가 서버의 메모리에 계속 남게됨. 그리하여 메모리 부족 현상이 발생됨.
	반드시 세션 타임아웃 시간을 지정해주어야 함!!
	-->
	
	<session-config>
		<session-timeout>30</session-timeout>
		<!-- 0 또는 음수 일때 타임아웃이 없어짐(무한) -->
	</session-config>
	
	<servlet>
	
	<servlet-name> DBCPInit </servlet-name>
	<servlet-class> jdbc.DBCPInit </servlet-class>
	<load-on-startup> 1 </load-on-startup>
	</servlet>
	
</web-app>