<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %m%n" />
		</layout>
	</appender>
	
	<!-- Application Loggers -->
	<logger name="kr.or.ddit">
		<level value="info" />
	</logger>
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>

	<!-- Root Logger -->
	
	<!-- 
	
	기본 출력 설정
	Appender : 전달된 로그를 어디에 출력할지 결정(콘솔, 파일 기록, DB 저장 등)
	priority : 로그 레벨
	FATAL : 심각한 에로 발생 
	EROOR : 요청 처리중 문제 발생
	WARN : 프로그램 실행에는 문제가 없지만 오류 발생 경고
	INFO : 상태변경 등의 정보성 메시지
	DEBUG : 개발시 디버깅 용도
	TRACE : 상세한 이벤트 용도
	
	 -->
	<root>
		<priority value="debug" />
		<appender-ref ref="console" />
	</root>
	
</log4j:configuration>
